body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Overpass", sans-serif;
  color: #444;
  font-weight: 500;
}

body {
  font-family: "Oxygen", sans-serif;
  background-color: rgb(247, 247, 247);
  color: #777;
  font-weight: 400;
}
